<div class="row liuyanye" >

</div>
<div class="col-md-8 col-md-offset-2 zuobian">
<h1 class="text-center">留言板</h1>
<div>
  亲爱的同学们，助教，以及路人。既然来了。留个言反馈一下吧。不胜感激。
</div>

  <%= link_to '新增一条', new_topic_path,:class => "btn btn-success pull-right" %>


<table class="table table-boldered table-striped" >
  <thead>
    <tr>
      <th>标题</th>
      <th>内容</th>
      <th width = 18%>留言时间</th>
      <th width = 10%>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to(topic.title, topic_path(topic)) %></td>
        <td><%= topic.description %></td>
        <td><%= local_time(topic.created_at, '%Y-%m-%d %H:%M') %></td>
        <td><%= link_to '改一下', edit_topic_path(topic) %></td>
      </tr>
    <% end %>
  </tbody>
  <footer>
  </footer>
</table>

</div>
