<%= simple_form_for @job do |f| %>

<%= f.input :title, :label => '职位名称' %>
<%= f.input :description, :label => '岗位描述' %>
<%= f.input :city, :label => '工作城市' %>
<%= f.input :wage_lower_bound, :label => '薪资下限' %>
<%= f.input :wage_upper_bound, :label => '薪资上限' %>
<%= f.input :contact_email, :label => '联系方式' %>
<%= f.input :is_hidden, :label => '是否隐藏' %>
<div class="text-center">
  <%= f.submit "提交", :class => "btn btn-danger btn-lg" %>
</div>
<% end %>
