<div class="row seo" >
</div>

<div class="col-md-8 col-md-offset-2 zuobian">
  <br>
<div class="row">
  <%= render :partial => "jobs/search_bar" %>
</div>
<div style="margin:30px 30px 35px 0px;">
  <br>
  <h4>为您找到以下信息：</h4>
</div>
<div class="search-result">
  <table class="table table-borderd">
    <thead>
      <tr>
        <th><th>
        <th>职位</th>
        <th>薪资</th>
        <th>工作城市</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><td>
          <td>
            <%= link_to(render_highlight_content(job,@query_string),job_path(job)) %>
          </td>
          <td>
            <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %> 元
          </td>
          <td><%= job.city %></td>
          <td>
            <%= local_time(job.created_at, "%Y-%m-%d %H:%M") %>
          </td>
        </tr>
      <% end %>
    <tbody>
  </table>
</div>
  <div class="text-center" >
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>

</div>
