<h2 class = "text-center" >管理员后台</h2>
<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-boldered table-striped custab text-center" >
    <thead >
        <tr >
            <th class = "text-center" width = 12% >管理选项</th>
            <th class = "text-center">职缺</th>
            <th class = "text-center" width = 12% >收到履历数量</th>
            <th class = "text-center" width = 12% >薪资下限</th>
            <th class = "text-center" width = 12% >薪资上限</th>
            <th class = "text-center" width = 25% >刊登时间</th>
        </tr>
    </thead>

    <% @jobs.each do |job| %>
    <tr>
        <td >
          <!-- <%= link_to("Edit", edit_admin_job_path(job), :class =>"btn btn-xs btn-info") %>
          <%= link_to("Destroy", admin_job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" },
          :class => "btn btn-xs btn-danger") %> -->
            <%= link_to edit_admin_job_path(job), class: "btn btn-xs btn-info" do %>
              <i class="fa fa-pencil" title=" Edit | 编辑这份职缺 "></i>
            <% end %>
            <%= link_to edit_admin_job_path(job), class: "btn btn-xs btn-danger" do %>
              <i class="fa fa-trash-o" title=" Del | 删除这份职缺 "></i>
            <% end %>
            <% if job.is_hidden %>
              <%= link_to publish_admin_job_path(job), method: :post, class: "btn btn-xs btn-success" do %>
                <i class="fa fa-eye" title=" Publish | 公开显示这份职缺 "></i>
              <% end %>
            <% else %>
              <%= link_to hide_admin_job_path(job), method: :post, class: "btn btn-xs btn-warning" do %>
                <i class="fa fa-eye-slash" title=" Hide | 隐藏这份职缺 "></i>
              <% end %>
            <% end %>
        </td>
        <td class = "text-left">
            <%= render_job_status(job) %>
            <%= link_to(job.title, admin_job_path(job)) %>
        </td>
        <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
        <td> <%= job.wage_lower_bound %> 元 </td>
        <td> <%= job.wage_upper_bound %> 元 </td>

        <td>
            <%= job.created_at %>
        </td>
    </tr>
    <% end %>
</table>

<a><%= link_to("<< 返回前台（职缺列表）",jobs_path)%></a>
