
<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container-fluid container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-yelp" aria-hidden="true"></i> 招聘网</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li> <%= link_to("热门职位", jobs_path) %></li>
            <li> <%= link_to("你来我网", topics_path) %></li>
            <li> <%= link_to("关于本站", "/pages/about") %></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">

                  <% if !current_user %>
                    <li><%= link_to("登入", new_user_session_path) %></li>
                    <li><%= link_to("注册", new_user_registration_path )%></li>
                  <% else %>
                    <li class="dropdown">
                      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">您好！<%= current_user.name %><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <% if current_user.admin? %>
                           <li class="text-center"><i class="fa fa-user" aria-hidden="true"><%= link_to("管理员后台", admin_jobs_path, class: "text-center") %></i> </li>
                           <li class="divider"> </li>
                          <% end %>
                          <li class="text-center"><i class="fa fa-address-card-o" aria-hidden="true"><%= link_to("修改用户信息", edit_user_registration_path )%></i></li>
                          <li class="divider"> </li>
                          <li class="text-center"><i class="fa fa-sign-out" aria-hidden="true"><%= link_to("登出", destroy_user_session_path, class: "text-center", method: :delete) %> </i></li>
                        </ul>
                      </li>
                    </li>
                  <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
